<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <title th:text="#{app.name}">New GME - Acceuil Général</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
        href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}"
        href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css"/>
  <link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css"/>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/central}">New GME - Acceuil Général</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!--li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Help</a></li-->
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" th:if="${statusmessage != null}">
    <div class="col-xs-12">
      <div class="alert alert-success">
        <span th:text="${statusmessage}">Status message</span>
      </div>
    </div>
  </div>
  <div layout:fragment="content">
    <h1>Static content for prototyping purposes only</h1>
    <p>
      This is the layout of the site. The actual content will come from individual views making use of this layout
    </p>
  </div>
</div>
<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <hr/>
      </div>
    </div>
  </div>
</div>
</body>
</html>