<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/sitelayout">
<head>
<title th:text="#{app.name}">Page accueil</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.css}" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="well well-small">Hotels</h1>
			</div>
		</div>
		<div layout:fragment="content">
			<div class="row">
				<div class="col-xs-12">
					<p>Vous devez vous identifier pour pouvoir accéder aux formulaires.</p>
					<p>[Formulaire ici]</p>
					<p><a th:href="@{/admin}">Simuler un administrateur</a></p>
					<p><a th:href="@{/online-agent}">Simuler un agent connecté sur le portail en ligne</a></p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>